@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
}
.main{
     background-image:repeating-linear-gradient(to bottom,rgb(222, 111, 111),black);
    display: flex;
    

    

    align-items: center;
    justify-content: center;
    height: 700px;
    font-family: 'Mukta', sans-serif;
}
#tempCalc{
    background-image:repeating-linear-gradient(to bottom,rgb(5, 5, 5),rgb(107, 246, 147));
    height: 300px;
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 100px;
    padding: 40px;
    border: 0px;
    border-radius: 50px;
    box-shadow: 4px 5px 10px gray;
    
}
break{
    flex-basis: 100%;
    width: 0px; 
    height: 0px; 
    overflow: hidden;
  }
  

#lab{
    color: beige;
    font-size: xx-large;
    

}
#temp{
    height: 30px;
    width: 325px;
    padding: 8px;
    border: 1px solid black;
    border-radius: 10px;
   margin-top: 20px;
    

}

#temp_diff{
    height: 47px;
    width: 350px;
    padding: 8px;
    border: 1px solid black;
    border-radius: 10px;
   margin-top: 30px;
   font-size: larger;
}

#button{
    height: 50px;
    width: 350px;
    padding: 8px;
    border: 0px ;
    border-radius: 10px;
    color: beige;
    background-image: linear-gradient(to right,black ,grey);
    margin-top: 30px;

}

#resultContainer{
   
        height: 30px;
        width: 300px;
        padding: 8px;
       color: beige;
       font-size: x-large;
        
    
    
}
